.yellow{
    background-color: yellow;
    width: 100%;
    padding-top: auto;
    padding: 30px;
}
.te{
    color: red;
    font-family: sans-serif;
    font-size: 50px;
}
.red{
    background-color: red;
    width: 100%;
    text-align: center;
}
.red img{
    height: 300px;
    text-align: center;
}
.white{
    background-color: white;
    width: 100%;
    text-align: center;
    padding-bottom: 80px;
}
.a, .b, .c, .d{
    text-align: center;
    color: red;
}
.container-fluid {
   padding: 0px !important;
}
.yellowy{
    background-color: yellow;
    width: 100%;
    text-align: right;
}
.img1{
    height: 130px;
   
}